<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for registering with HelpList</h1>
    <p>You're the best!</p>
    <img src="https://www.kcpd.org/media/4285/dv-banner.png" alt="DV Ribbon Banner" width=600 height=200 >
  </body>
</html>